body {
    font-family: helvetica;
    font-size: 13px;
    color: black;
    background-color: white;
}
h1 {
    color: #ffffff;
    text-align: center;
    background-color: #000088;
    padding: 0.25em;
    border: 3px solid black;
}
h2 {
    color: #000000;
    background-color: #cccccc;
    padding: 0.25em;
    border: 1px solid black;
}

h3
{
    width:auto;
    border-top:1px black solid;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 13px;
    border: 1px solid black;
}

.filtered{
background-color:#099;
}

pre {
    font-family: "courier new", courier, monospace;
    font-size: 13px;
}

a:link {
    color: #0044aa;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #0044aa;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
a:focus {
    color: #8844aa;
    font-weight: bold;
    text-decoration: none;
}

th.text{
    font-weight: normal;
    font-size: 11px;
}

table.toc td{
    padding: 10;
    text-align: center;
    background-color: #CCFFCC;
}

table.plots {
    border: 2px solid #D1D0CE;
}

table.triggers {
    border: 2px solid #D1D0CE;
}

th.header{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #D1D0CE;
}

th.triggers{
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 11px;
    font-weight: normal;
    background-color: #FFFFFF;
}


th.plots{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #D1D0CE;
}

th.subplots{
    background-color: #98AFC7;
}

td.proj_high{
    background-color: red;
    font-weight: bold;
}
td.proj_medium{
    background-color: orange;
    font-weight: bold;
}
td.proj_low{
    background-color: green;
}
td.proj_bg{
    background-color: blue;
}
td.proj_closed{
    background-color: cyan;
}

img{
    width:100%;
}