/*****************************************************************/
/*********                 DEFAULT STYLE                 *********/
/*****************************************************************/
body {
  font-family:"helvetica", helvetica;
  font-size: 13px;
  color: #FFBF00;
  background-color: #0B0B61;
  text-align: left;
}

h1 {
  font-family:"helvetica", helvetica;
  font-size: 30px;
  color: #FFBF00;
  text-align: left;
}
h2 {
  font-family:"helvetica", helvetica;
  font-size: 20px;
  color: #FFBF00;
  text-align: left;
}

td {
  font-family:"helvetica", helvetica;
  padding: 10;
  font-size: 13px;
  color: #FFBF00;
  text-align: left;
}
    
a:link {
    font-family:"helvetica", helvetica; 
    font-size: 13px;
    text-decoration: underline; 
    color: #FFBF00;
    text-align: left;
}

a:visited {
    font-family:"helvetica", helvetica; 
    font-size: 13px;
    text-decoration: underline;
    color: white;
    text-align: left;
}

a:active {
    font-family:"helvetica", helvetica;
    font-size: 13px;
    text-decoration: underline;
    color: white;
    text-align: left;
}

a:hover {
    font-family:"helvetica", helvetica; 
    font-size: 13px;
    text-decoration: underline;
    color: #610B0B;
    text-align: left;
}

table.MainContent {
    width: 800px;
}

td.Maintitle {
    text-align: center;
}

div.SecTitle {
    font-size: 30px;
}

div.SubSecTitle {
    font-size: 20px;
}

div.ClassFunction {
    font-weight: bold;
    color: #D462FF;
}

div.ClassFunctionList {
    line-height: 170%;
}

div.MenuHeader a:link{
     font-size: 15px;
}
div.MenuHeader a:visited{
     font-size: 15px;
}
div.MenuHeader a:active{
     font-size: 15px;
}
div.MenuHeader a:hover{
     font-size: 15px;
}
p.MenuHeader a:link{
     font-size: 10px;
     padding-left: 3em;
}
p.MenuHeader a:visited{
     font-size: 10px;
     padding-left: 3em;
}
p.MenuHeader a:active{
     font-size: 10px;
     padding-left: 3em;
}
p.MenuHeader a:hover{
     font-size: 10px;
     padding-left: 3em;
}

table.dqperf td{
    padding: 0;
    font-family: monospace;
}
h3.dqperf {
    font-family:"helvetica", helvetica;
    font-size: 25px;
    color: white;
    text-align: center;
}

table.stamp_pem_menu {
    border:2px solid #82CAFA;
}
table.stamp_pem_timing {
    border: 2px solid #82CAFA;
}
table.stamp_pem_timing td{
    width: 50px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}
table.stamp_pem_header, td.stamp_pem_header {
    padding: 5;
}
table.stamp_pem_calendar {
    font-size: 14px;
    background-color:transparent;
}
table.stamp_pem_calendar th {
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 11px;
    background-color:transparent;
}
table.stamp_pem_calendar td {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top;
    horizontal-align: center;
    text-align: center;
}
table.stamp_pem_calendar a {
    font-size: 10px;
    font-weight: bold;
}
table.stamp_pem_calendar a:hover {
    font-size: 10px;
    font-weight: bold;
    color: #FFBF00;
}
td.er2 {
    border:2px solid #610B0B;
}
td.vsr2 {
    border:2px solid #610B0B;
}
